@import "../../styles/styles";

.latestProjects {
  background: $port-sys-background-color-secondary;
  height: 300px;

  &__content {
    background: $port-sys-background-color-primary;
    height: 300px;
    border-radius: 32px 32px 0 0;
  }
}