@import "../../styles/styles";

.cases {
  background-color: $port-sys-background-color-primary;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;

  &__title {
    font-size: $port-sys-font-size-5;
    font-weight: 700;
    letter-spacing: 0;

  }

  &__filter > span {
    font-family: Inter, serif;
    font-size: $port-sys-font-size-1;
    font-weight: $port-sys-font-weight-4;
    line-height: $port-sys-line-height;
    letter-spacing: 0;
    display: inline-block;
    padding: 4px 15px;
    border-radius: 100px;
    background: $port-sys-background-color-secondary;
    margin: 5px;
    cursor: pointer;
  }

  .active {
    background: #7390F9;
    color: #FFF;
  }

}