@import 'variables';
$displayProps: ("block", "inline-block", "inline", "flex", "grid", "inline-flex", "inline-grid", "table", "inline-table", "list-item", "none", "contents");

@each $dsp in $displayProps {
  .d-#{$dsp} {
    display: #{$dsp} !important;
  }
}

@media screen and (min-width: $port-sys-breakpoint-min-width-sm){
  @each $dsp in $displayProps {
    .d-sm-#{$dsp} {
      display: #{$dsp} !important;
    }
  }
}

@media screen and (min-width: $port-sys-breakpoint-min-width-md){
  @each $dsp in $displayProps {
    .d-md-#{$dsp} {
      display: #{$dsp} !important;
    }
  }
}

@media screen and (min-width: $port-sys-breakpoint-min-width-lg){
  @each $dsp in $displayProps {
    .d-lg-#{$dsp} {
      display: #{$dsp} !important;
    }
  }
}

@media screen and (min-width: $port-sys-breakpoint-min-width-xl) {
  @each $dsp in $displayProps {
    .d-xl-#{$dsp} {
      display: #{$dsp} !important;
    }
  }
}