@import 'variables';

$textAlignments: ("left", "right", "center", "revert");

@each $textAlign in $textAlignments {
  .text-#{$textAlign} {
    text-align: #{$textAlign};
  }
}

@media screen and (min-width: $port-sys-breakpoint-min-width-sm) {
  @each $textAlign in $textAlignments {
    .text-sm-#{$textAlign} {
      text-align: #{$textAlign};
    }
  }
}

@media screen and (min-width: $port-sys-breakpoint-min-width-md) {
  @each $textAlign in $textAlignments {
    .text-md-#{$textAlign} {
      text-align: #{$textAlign};
    }
  }
}

@media screen and (min-width: $port-sys-breakpoint-min-width-lg) {
  @each $textAlign in $textAlignments {
    .text-lg-#{$textAlign} {
      text-align: #{$textAlign};
    }
  }
}

@media screen and (min-width: $port-sys-breakpoint-min-width-xl) {
  @each $textAlign in $textAlignments {
    .text-xl-#{$textAlign} {
      text-align: #{$textAlign};
    }
  }
}
@media screen and (min-width: $port-sys-breakpoint-min-width-xxl) {
  @each $textAlign in $textAlignments {
    .text-xxl-#{$textAlign} {
      text-align: #{$textAlign};
    }
  }
}
@media screen and (min-width: $port-sys-breakpoint-min-width-xxxl) {
  @each $textAlign in $textAlignments {
    .text-xl-#{$textAlign} {
      text-align: #{$textAlign};
    }
  }
}
@media screen and (min-width: $port-sys-breakpoint-min-width-x4k) {
  @each $textAlign in $textAlignments {
    .text-xl-#{$textAlign} {
      text-align: #{$textAlign};
    }
  }
}