// DESIGN TOKEN
//
// TOKEN
// $product-type-attribute-role
//
// eg.:
// $port-sys-font-family-primary
// ---- --- ----------- -------
// |    |   |           |
// |    |   |           role
// |    |   |
// |    |   attribute
// |    |
// |    type
// |
// product
//
// Types:
// - sys: system / design system
// - comp: component
//

//Font Family
$port-sys-font-family-primary: 'Space Grotesk', sans-serif;
$port-sys-font-family-secondary: 'Inter', sans-serif;
$port-sys-font-family-3: 'Poppins', sans-serif;


//Background Colors
$port-sys-background-color-primary: #FFFFFF;
$port-sys-background-color-secondary: #F7F7F7;
//Background Colors - Blue Card
$port-sys-background-color-1: #EDF0F9;
$port-sys-background-color-2: #D9DFF2;
//Background Colors - Gray Card
$port-sys-background-color-3: #EAEAEA;
$port-sys-background-color-4: #E3E3E3;
//Background Colors - Green Card
$port-sys-background-color-5: #E2FFE4;
$port-sys-background-color-6: #BDF1C2;
//Background Colors - Brown Card
$port-sys-background-color-7: #FEE0D0;
$port-sys-background-color-8: #F6C7AC;

//Buttons
$port-sys-btn-color-1: #7390F9;
$port-sys-btn-color-2: #2A2C32;
$port-sys-btn-color-3: #FFFFFF;
$port-sys-btn-color-4: #47CA5C;

//Color Fonts
$port-sys-font-color-1: #2A2C32;
$port-sys-font-color-2: #FFFFFF;
$port-sys-font-color-3: #4B5563;
$port-sys-font-color-4: #000000;
$port-sys-font-color-5: #A1A1A1;
$port-sys-font-color-6: #B2B2B2;

//Font Sizes
$port-sys-font-size: 0.75rem; //12px
$port-sys-font-size-1: 0.875rem; //14px
$port-sys-font-size-2: 1rem; //16px
$port-sys-font-size-3: 1.125rem; //18px
$port-sys-font-size-4: 1.25rem; //20px
$port-sys-font-size-5: 1.50em; //24px
$port-sys-font-size-10: 2rem; //32px
$port-sys-font-size-6: 2.25rem; //36px
$port-sys-font-size-7: 2.5rem; //40px
$port-sys-font-size-8: 3rem; //48px
$port-sys-font-size-9: 6.25rem; //100px


//Font Sizes
$port-sys-line-height: 1.25rem; //20px
$port-sys-line-height-1: 1.50rem; //24px
$port-sys-line-height-2: 2.2rem; //35px
//Font Weight
$port-sys-font-weight-1: 400;
$port-sys-font-weight-2: 700;
$port-sys-font-weight-3: 600;
$port-sys-font-weight-4: 500;

//Breakpoints
$port-sys-breakpoint-min-width-sm: 35.5em; //568px
$port-sys-breakpoint-min-width-md: 48em; //768px
$port-sys-breakpoint-min-width-lg: 64em; //1024px
$port-sys-breakpoint-min-width-xl: 80em; //1280px
$port-sys-breakpoint-min-width-xxl: 120em; //1920px
$port-sys-breakpoint-min-width-xxxl: 160em; //2560px
$port-sys-breakpoint-min-width-x4k: 240em; //3840px

//Container
$port-comp-container-max-width: 100%;


