//Background Colors
$primary-color: #FFFFFF;
$secondary-color: #F7F7F7;
//Background Colors - Blue Card
$backgroundColor-1: #EDF0F9;
$backgroundColor-2: #D9DFF2;
//Background Colors - Gray Card
$backgroundColor-3: #EAEAEA;
$backgroundColor-4: #E3E3E3;
//Background Colors - Green Card
$backgroundColor-5: #E2FFE4;
$backgroundColor-6: #BDF1C2;
//Background Colors - Brown Card
$backgroundColor-7: #FEE0D0;
$backgroundColor-8: #F6C7AC;

//Buttons
$btnColor-1: #7390F9;
$btnColor-2: #2A2C32;
$btnColor-3: #FFFFFF;
$btnColor-4: #47CA5C;

//Color Fonts
$fontColor-1: #2A2C32;
$fontColor-2: #FFFFFF;
$fontColor-3: #4B5563;
$fontColor-4: #000000;
$fontColor-5: #A1A1A1;
$fontColor-6: #B2B2B2;

//Font Sizes
$fontSize-1: 14px;
$fontSize-2: 16px;
$fontSize-3: 18px;
$fontSize-4: 20px;
$fontSize-5: 36px;
$fontSize-6: 48px;
$fontSize-7: 100px;

//Font Weight
$fontWeight-1: 400;
$fontWeight-2: 700;

//Font Family
$font-family: 'Space Grotesk', sans-serif;


$grid-width: 100rem; // 1000px
$gutter-vertical: 4rem; //40px
$gutter-horizontal: 4rem; // 40px