@import "../../styles/styles";


@include breakpoint-sm {
}

@include breakpoint-md {
}

@include breakpoint-lg {
  .header {
    margin-top: 40px;
    text-align: center;
    position: relative;

    .me {
      position: absolute;
      left: 108px;
      top: 50%;
      transform: translateY(-50%);

      &__name {
        display: block;
        color: $port-sys-font-color-4;
        font-size: $port-sys-font-size-2;
        font-weight: $port-sys-font-weight-2;
        line-height: 20px;
        letter-spacing: 0.3857142925262451px;
        text-align: left;
      }

      &__role {
        display: block;
        color: $port-sys-font-color-3;
        font-size: $port-sys-font-size-1;
        font-weight: $port-sys-font-weight-1;
        line-height: 18px;
        letter-spacing: 0.3857142925262451px;
        text-align: left;
      }
    }

    .navbar {
      font-family: 'Inter', sans-serif;
      background-color: $port-sys-background-color-secondary;
      border-radius: 50px;
      display: flex;
      height: 80px;
      width: 600px;
      margin: 0 auto;
      justify-content: space-between;
      align-items: center;

      &__link {
        display: flex;
        font-size: $port-sys-font-size-4;
        text-decoration: none;
        color: $port-sys-font-color-4;
        justify-content: center;
        align-items: center;

        &__active {
          background-color: $port-sys-btn-color-2;
          color: white;
          height: 60px;
          border-radius: 60px;
          line-height: 24px;
          letter-spacing: -0.015em;

          &__home {
            margin-left: 10px;
            width: 135px;
          }

          &__cases {
            width: 202px;
          }

          &__about {
            width: 136px;
          }

          &__getInTouch {
            width: 194px;
            margin-right: 10px;
          }
        }
      }

      &__link:first-child:not(.navbar__link__active) {
        margin-left: 26px;
      }

      &__link:last-child:not(.navbar__link__active) {
        margin-right: 26px;
      }
    }
  }
}